{% extends 'main.html' %}

{% block content %}
<main class="create-room layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <a href="{% url 'home' %}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>arrow-left</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
              </path>
            </svg>
          </a>
          <h3>Polls</h3>
        </div>
      </div>

      <div class="topics-page layout__body">

        <ul class="topics__list">
          {% for active_poll in all_active_polls %}
          <li>
            <a href="{% url 'poll' active_poll.room.id %}">{{active_poll.question}} <span id="voted__all">{% if request.user in active_poll.poll_takers.all %}Voted{% else %}Vote{% endif %}</span></a>
          </li>
          {% endfor %}

        </ul>
      </div>
    </div>
  </div>
</main>

{% endblock content %}